@font-face {
  font-family: Rodina-Regular;
  src: url('font/Rodina-Regular.woff') format("woff");
}

@font-face {
  font-family: Open-Sans;
  src: url('font/OpenSans-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: Open-Sans-Regular;
  src: url('font/OpenSans-Regular.ttf') format("truetype");
}

.teambox {
  position: aboslute;
}


#teammember {
  font-size: 12px;
  position: relative;
  height: 200px;
  display: inline-block;


}

#teammember img {
  height: 20px;
  width: auto;

}
