<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="sponsor.css">
    <link rel="stylesheet" href="contact.css">
  </head>

  <body>

    <ul>
      <li class="left" style="padding-bottom:0px"><a href="index.html"><img style="height: 15vh" src="images/title-logo.png"></a><li>
      <li><a href="sponsor.html">Sponsor</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="#team">The Team</a></li>
      <li><a href="#games">Games</a></li>
      <li><a href="#about">About</a></li>

    </ul>

    <div class="content">

      <div class="row">
        <div class="section-full">
          <h>Contact Us!</h>
          <br>
        </div>
      </div>


      <div class="row">
        <div class="section-left">
          <div class="psmall">
            Email:&nbsp
            <a class="email" href="mailto:wsoft.officer.active@umich.edu">
              wsoft.officer.active@umich.edu
            </a>
          </div>

        </div>
      </div>

    <div class="row">
      <div class="section-left">
        <div class="psmall">
          <pre class="psmall">
Address:  University of Michigan College of Engineering
                 1221 Beal Ave. Suite G264
                 Ann Arbor, MI 48109
          </pre>
        </div>
      </div>
    </div>



    </div>


  </body>

</html>
